body {
  font-family: 'Courier New', Courier, monospace;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.heading-1,
.heading-2 {
  text-align: center;
}

.para {
  text-align: left;
  text-indent: 20px;
}

.recipes-list {
  background: rgb(219, 200, 200);
  display: inline-block;
  color: black;
  padding: 5px;
  border-radius: 10px;
}

.recipes-list li {
  padding: 5px;
}